.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f4f6f9;
}


.table-view {
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}



.table-view .column-header-background {
    -fx-background-color: linear-gradient(to right, #1e3c72, #2a5298);
    -fx-background-radius: 10 10 0 0;
    -fx-padding: 5;
}

.table-view .column-header,
.table-view .filler {
    -fx-size: 48px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}


.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}


.table-view .column-header:hover {
    -fx-background-color: rgba(255, 255, 255, 0.08);
}


.table-view .column-header {
    -fx-border-color: rgba(255,255,255,0.15);
    -fx-border-width: 0 1 0 0;
}

.table-row-cell:hover {
    -fx-background-color: #dbeafe;
}


.table-row-cell:selected {
    -fx-background-color: #2f80ed;
}


.table-view:focused .table-row-cell:selected .table-cell {
    -fx-background-color: #2f80ed;
}

.table-row-cell:selected .text {
    -fx-fill: white;
}


.table-view .table-cell {
    -fx-border-color: transparent;
}



.button {
    -fx-background-radius: 20;
    -fx-padding: 10 25 10 25;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.btn-add {
    -fx-background-color: #27ae60;
}

.btn-update {
    -fx-background-color: #2f80ed;
}

.btn-delete {
    -fx-background-color: #e74c3c;
}